---
import "../styles/global.css";
import GuidePage from "../lib/components/GuidePage.svelte";
import SeoHead from "../lib/components/SeoHead.astro";
import { guideMetadata } from "../lib/content/page-copy";
import { buildGuideStructuredData, getSiteOrigin } from "../lib/seo";

const siteOrigin = getSiteOrigin(Astro.site);
const structuredData = buildGuideStructuredData(siteOrigin);
---

<html lang="en">
  <head>
    <SeoHead
      title={guideMetadata.title}
      description={guideMetadata.description}
      canonicalPath="/guide/"
      ogType="article"
      {structuredData}
    />
  </head>
  <body>
    <GuidePage />
  </body>
</html>
